<table class="table table-hover">
  <thead style="color: blue">
  <th><%= t "tinhthanhphos.ma" %></th>
  <th><%= t "tinhthanhphos.ten" %></th>
  <th><%= t "tinhthanhphos.vungdialy_id" %></th>
  <th></th>
  </thead>

  <% @tinhthanhphos.each do |tinhthanhpho| %>
      <tbody>
      <td style="width: 150px;"><%= tinhthanhpho.ma %></td>
      <td><%= tinhthanhpho.ten %></td>
      <td><%= tinhthanhpho.vungdialy.ten %></td>
      <td style="text-align: center; width: 60px;">
        <a href="<%= edit_tinhthanhpho_path(tinhthanhpho) %>" title="<%= t "edit" %>">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a title="Delete" data-backdrop="static" data-keyboard="true" href="javascript:;"
           onclick="show_confirm_modal('<%= tinhthanhpho_path(tinhthanhpho) %>','<%= t "tinhthanhphos.question" %>');">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
      </tbody>
  <% end %>
</table>
<div class="text-center">
  <%= will_paginate @tinhthanhphos, :renderer => BootstrapPagination::Rails %>
</div>