<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-hover">
  <thead>
  <tr>
    <th style="width: 150px;"><%= t "phuongxas.ma" %></th>
    <th><%= sortable "ten", t('phuongxas.ten') %></th>
    <th><%= sortable "quanhuyen_id", t('phuongxas.quanhuyen_id') %></th>
    <th><%= t('phuongxas.tinhthanhpho') %></th>
    <td style="width: 60px;">&nbsp;</td>
  </tr>
  </thead>
  <tbody>
  <% @phuongxas.each do |phuongxa| %>
      <tr>
        <td><%= phuongxa.ma %></td>
        <td><%= phuongxa.ten %></td>
        <td><%= phuongxa.quanhuyen.ten %></td>
        <td><%= phuongxa.quanhuyen.tinhthanhpho.ten %></td>
        <td><%= link_to edit_danhmuc_phuongxa_path(phuongxa), data: {remote: true}, :title => t('edit') do %>
              <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= link_to danhmuc_phuongxa_delete_path(phuongxa), data: {remote: true}, :title => t('delete') do %>
              <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr class="text-center">
    <td colspan="4">
      <%= will_paginate @phuongxas, renderer: BootstrapPagination::Rails %>
    </td>
  </tr>
  </tfoot>
</table>