<div class="modal-header">
  <h3><%= t "khoaphongs.delete.header" %></h3>
</div>
<div class="modal-body">
  <ul class="errors"></ul>
  <%= t "khoaphongs.question" %><b><%= @khoaphong.ten %></b>?
</div>
<div class="modal-footer">
  <%= link_to danhmuc_khoaphong_path(@khoaphong), method: :delete, :data => {remote: true}, class: "btn btn-danger" do %>
      <i class="glyphicon glyphicon-ok-sign"></i> <%= t "yes" %>
  <% end %>
  <%= link_to danhmuc_khoaphongs_path, class: "btn btn-default", data: {dismiss: "modal"} do %>
      <i class="glyphicon glyphicon-remove-sign"></i> <%= t "no" %>
  <% end %>
</div>