<%= form_for ([:danhmuc,@khoaphong]), :data => {remote: true}, :html => {:class => "form-horizontal", role: "form"} do |f| %>
    <div class="modal-body">
      <div class="row">
        <ul class="errors"></ul>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="ma"><%= t "khoaphongs.ma" %></label>
            <%= f.text_field :ma, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="ten"><%= t "khoaphongs.ten" %></label>
            <%= f.text_field :ten, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="nhomkhoaphong_id"><%= t "khoaphongs.nhomkhoaphong_id" %></label>
            <%= f.select(:nhomkhoaphong_id, Nhomkhoaphong.all.collect { |c| [c.ten, c.id] }, {:prompt => t('khoaphongs.promt')}, {class: "form-control"}) %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="glyphicon glyphicon-floppy-save"></i> <%= t "save" %>
        </button>
        <%= link_to danhmuc_khoaphongs_path, class: "btn btn-default", data: {dismiss: "modal"} do %>
            <i class="glyphicon glyphicon-chevron-left"></i> <%= t "back" %>
        <% end %>
      </div>
      <div class="col-lg-3"></div>
    </div>
<% end %>