<div class="page-header">
  <h1 class="pull-left"><%= t "khoaphongs.index.header" %></h1>
  <%= link_to new_danhmuc_khoaphong_path, remote: true, class: "btn btn-primary pull-right" do %>
      <i class="glyphicon glyphicon-plus-sign"></i> <%= t('new') %>
  <% end %>
  <div class="clearfix"></div>
</div>
<div class="new-form"></div>
<%= form_tag danhmuc_khoaphongs_path, :method => 'get', :id => "ajax_search" do %>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <%= text_field_tag :search, params[:search], :placeholder => t('khoaphongs.keysearch'), :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-index">
        <%= render "index" %>
      </div>
    </div>
<% end %>
<div id="form-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-form-modal" class="modal-content"></div>
  </div>
</div>