<%= form_for @nhanvien, :data => {remote: true}, :html => {:class => "form-horizontal", role: "form"} do |f| %>
    <div class="modal-body">
    <ul class="errors"></ul>
    <div class="row">
      <div class="col-xs-3 col-md-3" align="center">
        <div class="thumbnail">
          <img src="/assets/new_user.jpg" style="width: 250px;">

          <div class="caption">
            <p><a href="#" class="btn btn-default text-center" role="button">
              <i class="glyphicon glyphicon-upload"></i> <%= t "nhanviens.upload" %>
            </a>
            </p>
          </div>
        </div>
      </div>
      <div class=" col-md-9 col-lg-9 ">
        <div class="form-group">
          <div class="col-md-3">
            <label for="nhanvien_eid"><%= t "nhanviens.eid" %></label>
            <%= f.text_field :eid, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <label for="nhanvien_holot"><%= t "nhanviens.holot" %></label>
            <%= f.text_field :holot, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <label for="nhanvien_ten"><%= t "nhanviens.ten" %></label>
            <%= f.text_field :ten, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_gioitinh"><%= t "nhanviens.gioitinh" %></label>
            <select name="nhanvien[gioitinh]" id="nhanvien_gioitinh" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_gioitinh" %></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3">
            <label for="nhanvien_ngaysinh"><%= t "nhanviens.ngaysinh" %></label>
            <%= f.text_field :ngaysinh, :value => (@nhanvien.ngaysinh.blank? ? '' : @nhanvien.ngaysinh.strftime("%d/%m/%Y")), class: "form-control" %>
          </div>
          <div class="col-md-2">
            <label for="nhanvien_namsinh"><%= t "nhanviens.namsinh" %></label>
            <%= f.text_field :namsinh, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <label for="nhanvien_tenkhac"><%= t "nhanviens.tenthuonggoi" %></label>
            <%= f.text_field :tenkhac, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_tinhtranghonnhan"><%= t "nhanviens.tinhtranghonnhan" %></label>
            <select name="nhanvien[tinhtranghonnhan]" id="nhanvien_tinhtranghonnhan" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_honnhan" %></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="nhanvien_quoctich"><%= t "nhanviens.quoctich" %></label>
            <select name="nhanvien[quoctich]" id="nhanvien_quoctich" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_quoctich" %></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="nhanvien_dantoc"><%= t "nhanviens.dantoc" %></label>
            <select name="nhanvien[dantoc]" id="nhanvien_dantoc" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_dantoc" %></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="nhanvien_tongiao"><%= t "nhanviens.tongiao" %></label>
            <select name="nhanvien[tongiao]" id="nhanvien_tongiao" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_tongiao" %></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="nhanvien_noisinh_tinh"><%= t "nhanviens.noisinh_tinh" %></label>
            <select name="nhanvien[noisinh_tinh]" id="nhanvien_noisinh_tinh" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_tinhthanhphos" %></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="nhanvien_noisinh_huyen"><%= t "nhanviens.noisinh_huyen" %></label>
            <select name="nhanvien[noisinh_huyen]" id="nhanvien_noisinh_huyen" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_quanhuyens" %></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="nhanvien_noisinh_xa"><%= t "nhanviens.noisinh_xa" %></label>
            <select name="nhanvien[noisinh_xa]" id="nhanvien_noisinh_xa" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_phuongxas" %></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12 col-md-12">
          <div class="col-md-4">
            <label for="nhanvien_nguyenquan_tinh"><%= t "nhanviens.nguyenquan_tinh" %></label>
            <select name="nhanvien[nguyenquan_tinh]" id="nhanvien_nguyenquan_tinh" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_tinhthanhphos" %></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="nhanvien_nguyenquan_huyen"><%= t "nhanviens.nguyenquan_huyen" %></label>
            <select name="nhanvien[nguyenquan_huyen]" id="nhanvien_nguyenquan_huyen" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_quanhuyens" %></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="nhanvien_nguyenquan_xa"><%= t "nhanviens.nguyenquan_xa" %></label>
            <select name="nhanvien[nguyenquan_xa]" id="nhanvien_nguyenquan_xa" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_phuongxas" %></option>
            </select>
          </div>
        </div>
      </div>

    </div>
    <!-- end row -->
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12 col-md-12">
          <div class="col-md-3">
            <label for="nhanvien_thuongtru_duong"><%= t "nhanviens.thuongtru_duong" %></label>
            <%= f.text_field :thuongtru_duong, :class => 'form-control' %>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_thuongtru_tinh"><%= t "nhanviens.thuongtru_tinh" %></label>
            <select name="nhanvien[thuongtru_tinh]" id="nhanvien_thuongtru_tinh" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_tinhthanhphos" %></option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_thuongtru_huyen"><%= t "nhanviens.thuongtru_huyen" %></label>
            <select name="nhanvien[thuongtru_huyen]" id="nhanvien_thuongtru_huyen" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_quanhuyens" %></option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_thuongtru_xa"><%= t "nhanviens.thuongtru_xa" %></label>
            <select name="nhanvien[thuongtru_xa]" id="nhanvien_thuongtru_xa" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_phuongxas" %></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12 col-md-12">
          <div class="col-md-3">
            <label for="tamtru_duong"><%= t "nhanviens.tamtru_duong" %></label>
            <%= f.text_field :tamtru_duong, :class => 'form-control' %>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_tamtru_tinh"><%= t "nhanviens.tamtru_tinh" %></label>
            <select name="nhanvien[tamtru_tinh]" id="nhanvien_tamtru_tinh" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_tinhthanhphos" %></option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_tamtru_huyen"><%= t "nhanviens.tamtru_huyen" %></label>
            <select name="nhanvien[tamtru_huyen]" id="nhanvien_tamtru_huyen" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_quanhuyens" %></option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_tamtru_xa"><%= t "nhanviens.tamtru_xa" %></label>
            <select name="nhanvien[tamtru_xa]" id="nhanvien_tamtru_xa" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_phuongxas" %></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12 col-md-12">
          <div class="col-md-3">
            <label for="dienthoai"><%= t "nhanviens.dienthoai" %></label>
            <%= f.text_field :dienthoai, :class => 'form-control' %>
          </div>
          <div class="col-md-3">
            <label for="didong"><%= t "nhanviens.didong" %></label>
            <%= f.text_field :didong, :class => 'form-control' %>
          </div>
          <div class="col-md-6">
            <label for="email"><%= t "nhanviens.email" %></label>
            <%= f.text_field :email, :class => 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12 col-md-12">
          <div class="col-md-3">
            <label for="nhanvien_socmnd"><%= t "nhanviens.socmnd" %></label>
            <%= f.text_field :socmnd, :class => 'form-control' %>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_ngaycapcmnd"><%= t "nhanviens.ngaycapcmnd" %></label>
            <%= f.text_field :ngaycapcmnd, :value => (@nhanvien.ngaycapcmnd.blank? ? '' : @nhanvien.ngaycapcmnd.strftime("%d/%m/%Y")), :class => 'form-control' %>
          </div>
          <div class="col-md-6">
            <label for="nhanvien_noicapcmnd"><%= t "nhanviens.noicapcmnd" %></label>
            <select name="nhanvien[noicapcmnd]" id="nhanvien_noicapcmnd" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_tinhthanhphos" %></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12 col-md-12">
          <div class="col-md-3">
            <label for="nhanvien_masothue"><%= t "nhanviens.masothue" %></label>
            <%= f.text_field :masothue, :class => 'form-control' %>
          </div>
          <div class="col-md-3">
            <label for="nhanvien_taikhoannganhang"><%= t "nhanviens.taikhoannganhang" %></label>
            <%= f.text_field :taikhoannganhang, :class => 'form-control' %>
          </div>
          <div class="col-md-6">
            <label for="nhanvien_nganhang"><%= t "nhanviens.nganhang" %></label>
            <select name="nhanvien[nganhang]" id="nhanvien_nganhang" class="form-control">
              <option key="0"><%= t "nhanviens.prompt_nganhang" %></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    </div>
    <!--end modal-body -->
    <!-- modal-footer -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-floppy-save"></i> <%= t "save" %>
      </button>
      <%= link_to nhanviens_path, class: "btn btn-default", data: {dismiss: "modal"} do %>
          <i class="glyphicon glyphicon-chevron-left"></i> <%= t "back" %>
      <% end %>
    </div>
    <!-- end modal-footer -->
<% end %>

<script>
    jQuery(function () {
        $("#nhanvien_gioitinh").click(function () {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get("gioitinh", function (json) {
                    string = "<option><%= t "nhanviens.prompt_gioitinh" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_gioitinh").html(string);
                });
            }
        });

        $("#nhanvien_tinhtranghonnhan").click(function () {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get("tinhtranghonnhan", function (json) {
                    string = "<option><%= t "nhanviens.prompt_honnhan" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_tinhtranghonnhan").html(string);
                });
            }
        });

        $("#nhanvien_quoctich").click(function () {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get("quoctich", function (json) {
                    string = "<option><%= t "nhanviens.prompt_quoctich" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_quoctich").html(string);
                });
            }
        });

        $("#nhanvien_dantoc").click(function () {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get("dantoc", function (json) {
                    string = "<option><%= t "nhanviens.prompt_dantoc" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_dantoc").html(string);
                });
            }
        });

        $("#nhanvien_tongiao").click(function () {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get("tongiao", function (json) {
                    string = "<option><%= t "nhanviens.prompt_tongiao" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_tongiao").html(string);
                });
            }
        });

        $("#nhanvien_noisinh_tinh").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get('danh_sach_tinh_tp', function (json) {
                    string = "<option><%= t "nhanviens.prompt_tinhthanhphos" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_noisinh_tinh").html(string);
                });
            }
        });

        $("#nhanvien_noisinh_huyen").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.post('danh_sach_quan_huyen', {id: $("#nhanvien_noisinh_tinh").val()}, function (json) {

                    string = "<option><%= t "nhanviens.prompt_quanhuyens" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_noisinh_huyen").html(string);
                });
            }
        });

        $("#nhanvien_noisinh_xa").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.post('danh_sach_phuong_xa', {id: $("#nhanvien_noisinh_huyen").val()}, function (json) {

                    string = "<option><%= t "nhanviens.prompt_phuongxas" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_noisinh_xa").html(string);
                });
            }
        });
        
        $("#nhanvien_nguyenquan_tinh").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get('danh_sach_tinh_tp', function (json) {
                    string = "<option><%= t "nhanviens.prompt_tinhthanhphos" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_nguyenquan_tinh").html(string);
                });
            }
        });

        $("#nhanvien_nguyenquan_huyen").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.post('danh_sach_quan_huyen', {id: $("#nhanvien_nguyenquan_tinh").val()}, function (json) {

                    string = "<option><%= t "nhanviens.prompt_quanhuyens" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_nguyenquan_huyen").html(string);
                });
            }
        });

        $("#nhanvien_nguyenquan_xa").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.post('danh_sach_phuong_xa', {id: $("#nhanvien_nguyenquan_huyen").val()}, function (json) {

                    string = "<option><%= t "nhanviens.prompt_phuongxas" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_nguyenquan_xa").html(string);
                });
            }
        });

        $("#nhanvien_thuongtru_tinh").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get('danh_sach_tinh_tp', function (json) {
                    string = "<option><%= t "nhanviens.prompt_tinhthanhphos" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_thuongtru_tinh").html(string);
                });
            }
        });

        $("#nhanvien_thuongtru_huyen").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.post('danh_sach_quan_huyen', {id: $("#nhanvien_thuongtru_tinh").val()}, function (json) {

                    string = "<option><%= t "nhanviens.prompt_quanhuyens" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_thuongtru_huyen").html(string);
                });
            }
        });

        $("#nhanvien_thuongtru_xa").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.post('danh_sach_phuong_xa', {id: $("#nhanvien_thuongtru_huyen").val()}, function (json) {

                    string = "<option><%= t "nhanviens.prompt_phuongxas" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_thuongtru_xa").html(string);
                });
            }
        });

        $("#nhanvien_tamtru_tinh").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get('danh_sach_tinh_tp', function (json) {
                    string = "<option><%= t "nhanviens.prompt_tinhthanhphos" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_tamtru_tinh").html(string);
                });
            }
        });

        $("#nhanvien_tamtru_huyen").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.post('danh_sach_quan_huyen', {id: $("#nhanvien_tamtru_tinh").val()}, function (json) {

                    string = "<option><%= t "nhanviens.prompt_quanhuyens" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_tamtru_huyen").html(string);
                });
            }
        });

        $("#nhanvien_tamtru_xa").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.post('danh_sach_phuong_xa', {id: $("#nhanvien_tamtru_huyen").val()}, function (json) {

                    string = "<option><%= t "nhanviens.prompt_phuongxas" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_tamtru_xa").html(string);
                });
            }
        });

        $("#nhanvien_noicapcmnd").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get('danh_sach_tinh_tp', function (json) {
                    string = "<option><%= t "nhanviens.prompt_tinhthanhphos" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_noicapcmnd").html(string);
                });
            }
        });

        $("#nhanvien_nganhang").click(function (event) {
            if ($(this).find("option:first-child").attr('key') == 0) {
                $.get('nganhang', function (json) {
                    string = "<option><%= t "nhanviens.prompt_nganhang" %></option>";
                    for (i = 0; i < json.length; i++) {
                        string += "<option value='" + json[i].id + "'>" + json[i].ten + "</option>";
                    }
                    $("#nhanvien_nganhang").html(string);
                });
            }
        });
    });
</script>