<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 150px;"><%= t "nhanviens.eid" %></th>
      <th><%= t "nhanviens.holot" %></th>
      <th><%= t "nhanviens.ten" %></th>
      <th><%= t "nhanviens.ngaysinh" %></th>
      <th><%= t "nhanviens.didong" %></th>
      <th><%= t "nhanviens.email" %></th>
      <td style="width: 60px;">&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <% @nhanviens.each do |nhanvien| %>
        <tr>
          <td><%= nhanvien.eid %></td>
          <td><%= nhanvien.holot %></td>
          <td><%= nhanvien.ten %></td>
          <td><%= nhanvien.ngaysinh %></td>
          <td><%= nhanvien.didong %></td>
          <td><%= nhanvien.email %></td>
          <td><%= link_to edit_nhanvien_path(nhanvien), data: {remote: true}, :title => t('edit') do %>
                <i class="glyphicon glyphicon-edit"></i>
            <% end %>
            <%= link_to nhanvien_delete_path(nhanvien), data: {remote: true}, :title => t('delete') do %>
                <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
          s
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr class="text-center">
      <td colspan="3">
        <%= will_paginate @nhanviens, renderer: BootstrapPagination::Rails %>
      </td>
    </tr>
    </tfoot>
  </table>
</div>