<div class="page-header">
  <h1 class="pull-left"><%= t "nhombangcaps.index.header" %></h1>
  <%= link_to new_nhombangcap_path, remote: true, class: "btn btn-primary pull-right" do %>
      <i class="glyphicon glyphicon-plus-sign"></i> <%= t('new') %>
  <% end %>
  <div class="clearfix"></div>
</div>
</div>
<div class="new-nhombangcap"></div>

<table class="table table-hover ta">
  <thead>
  <tr>
    <th style="width: 150px;"><%= t "nhombangcaps.ma" %></th>
    <th style="width: 230px;"><%= t "nhombangcaps.ten" %></th>
    <th><%= t "nhombangcaps.diengiai" %></th>
    <td style="width: 60px;">&nbsp;</td>
  </tr>
  </thead>
  <tbody class="nhombangcap-index">
  <%= render "index" %>
  </tbody>
</table>
<div id="nhombangcap-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-nhombangcap-modal" class="modal-content"></div>
  </div>
</div>