<div class="page-header">
  <h1 class="pull-left"><%= t "nhomkhoaphongs.index.header" %></h1>
  <%= link_to new_nhomkhoaphong_path, remote: true, class: "btn btn-primary pull-right" do %>
      <i class="glyphicon glyphicon-plus-sign"></i> <%= t('new') %>
  <% end %>
  <div class="clearfix"></div>
</div>
<div class="new-form"></div>

<table class="table table-hover ta">
  <thead>
  <tr>
    <th style="width: 150px;"><%= t "nhomkhoaphongs.ma" %></th>
    <th><%= t "nhomkhoaphongs.ten" %></th>
    <td style="width: 60px;">&nbsp;</td>
  </tr>
  </thead>
  <tbody class="form-index">
  <%= render "index" %>
  </tbody>
</table>
<div id="form-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-form-modal" class="modal-content"></div>
  </div>
</div>