<div class="modal-header">
  <h3><%= t "quanhuyens.delete.header" %></h3>
</div>
<div class="modal-body">
  <ul class="errors"></ul>
  <%= t "quanhuyens.question" %><b><%= @quanhuyen.ten %></b>?
</div>
<div class="modal-footer">
  <%= link_to danhmuc_quanhuyen_path(@quanhuyen), method: :delete, :data => {remote: true}, class: "btn btn-danger" do %>
      <i class="glyphicon glyphicon-ok-sign"></i> <%= t "yes" %>
  <% end %>
  <%= link_to danhmuc_quanhuyens_path, class: "btn btn-default", data: {dismiss: "modal"} do %>
      <i class="glyphicon glyphicon-remove-sign"></i> <%= t "no" %>
  <% end %>
</div>