<%# add navigation links to this file %>
<li><a href="<%= nhanviens_path%>" id="employees"><%= t "employees" %></a></li>
<li><a href="#" id="categories"><%= t "categories" %></a></li>
<li><a href="#" id="manage_users"><%= t "manage_users" %></a></li>
<li><a href="#" id="settings"><%= t "settings" %></a></li>

