<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%= t "agency" %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to "Nhóm khoa phòng", "#" %></li>
          <li><%= link_to "Khoa/Phòng/Ban", "#" %></li>
          <li><%= link_to "Khu vực làm việc", "#" %></li>
          <li><%= link_to "Nhóm chức danh", "#" %></li>
          <li><%= link_to "Chức danh", "#" %></li>
          <li><%= link_to "Nhóm chức vụ", "#" %></li>
          <li><%= link_to "Chức vụ", "#" %></li>
          <li><%= link_to "Nhiệm vụ tại cơ quan", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <%= t "admitrative" %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to "Quốc gia", quoctiches_path %></li>
          <li><%= link_to "Vùng địa lý", vungdialies_path %></li>
          <li><%= link_to "Tỉnh/Thành phố", tinhthanhphos_path %></li>
          <li><%= link_to "Quận/Huyện", "#" %></li>
          <li><%= link_to "Phường/Xã", "#" %></li>
          <li><%= link_to "Dân tộc", "#" %></li>
          <li><%= link_to "Tôn giáo", "#" %></li>
          <li><%= link_to "Bệnh viện", "#" %></li>
          <li><%= link_to "Ngân hàng", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <%= t "education_level" %>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to "Nhóm bằng cấp", "#" %></li>
          <li><%= link_to "Bằng cấp", "#" %></li>
          <li><%= link_to "Học hàm", "#" %></li>
          <li><%= link_to "Hệ đào tạo", "#" %></li>
          <li><%= link_to "Trình độ giáo dục phổ thông", "#" %></li>
          <li><%= link_to "Nhóm ngành đào tạo", "#" %></li>
          <li><%= link_to "Chuyên ngành đào tạo", "#" %></li>
          <li><%= link_to "Lý luận chính trị", "#" %></li>
          <li><%= link_to "Quản lý nhà nước", "#" %></li>
          <li><%= link_to "Nơi đào tạo", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          <%= t "contract" %>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to "Loại ngạch", "#" %></li>
          <li><%= link_to "Nhóm ngạch", "#" %></li>
          <li><%= link_to "Mã ngạch", "#" %></li>
          <li><%= link_to "Nhóm hợp đồng", "#" %></li>
          <li><%= link_to "Hợp đồng", "#" %></li>
          <li><%= link_to "Nhóm lý do nghỉ", "#" %></li>
          <li><%= link_to "Lý do nghỉ", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          <%= t "emulation" %>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to "Cấp khen thưởng", "#" %></li>
          <li><%= link_to "Loại khen thưởng", "#" %></li>
          <li><%= link_to "Nhóm khen thưởng", "#" %></li>
          <li><%= link_to "Thi đua - khen thưởng", "#" %></li>
          <li><%= link_to "Kỷ luật", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
