<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%= t "agency" %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to nhomkhoaphongs_path do %>
                <%= t "category.slidebar.nhomkhoaphong" %>
            <% end %>
          </li>
          <li><%= link_to khoaphongs_path do %>
                <%= t "category.slidebar.khoaphong" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.khuvuclamviec" %>
            <% end %></li>
          <li><%= link_to nhomchucdanhs_path do %>
                <%= t "category.slidebar.nhomchucdanh" %>
            <% end %></li>
          <li><%= link_to chucdanhs_path do %>
                <%= t "category.slidebar.chucdanh" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.nhomchucvu" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.chucvu" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.nhiemvu" %>
            <% end %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <%= t "admitrative" %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to quoctiches_path do %>
                <%= t "category.slidebar.quoctich" %>
            <% end %>
          </li>
          <li><%= link_to vungdialies_path do %>
                <%= t "category.slidebar.vungdialy" %>
            <% end %></li>
          <li><%= link_to tinhthanhphos_path do %>
                <%= t "category.slidebar.tinhthanhpho" %>
            <% end %></li>
          <li><%= link_to quanhuyens_path do %>
                <%= t "category.slidebar.quanhuyen" %>
            <% end %></li>
          <li><%= link_to phuongxas_path do %>
                <%= t "category.slidebar.phuongxa" %>
            <% end %></li>
          <li><%= link_to dantocs_path do %>
                <%= t "category.slidebar.dantoc" %>
            <% end %></li>
          <li><%= link_to tongiaos_path do %>
                <%= t "category.slidebar.tongiao" %>
            <% end %></li>
          <li><%= link_to benhviens_path do %>
                <%= t "category.slidebar.benhvien" %>
            <% end %></li>
          <li><%= link_to nganhangs_path do %>
                <%= t "category.slidebar.nganhang" %>
            <% end %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <%= t "education_level" %>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to nhombangcaps_path do %>
                <%= t "category.slidebar.nhombangcap" %>
            <% end %></li>
          <li><%= link_to bangcaps_path do %>
                <%= t "category.slidebar.bangcap" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.hocham" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.hedaotao" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.trinhdophothong" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.nhomnganhdaotao" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.chuyennganhdaotao" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.lyluanchinhtri" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.quanlynhanuoc" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.noidaotao" %>
            <% end %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          <%= t "contract" %>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.loaingach" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.nhomngach" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.mangach" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.nhomhopdong" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.hopdong" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.nhomlydo"  %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.lydovangmat"  %>
            <% end %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          <%= t "emulation" %>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.capkhenthuong"  %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.loaikhenthuong"  %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.nhomkhenthuong"  %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.thiduakhenthuong"  %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.kyluat"  %>
            <% end %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
